# Test ouvrir un csv avec pandas

In [2]:
import pandas as pd 

#pd.read_csv()

#corr
#heatmap

In [3]:
#un exemple de heatmap
#index des lignes
idx = ['1', '2', '3', '4']
#noms des colonnes
cols = list('ABCD')

#cr√©ation du dataframe
df = pd.DataFrame([[10, 20, 30, 40], [50, 30, 8, 15],
                   [25, 14, 41, 8], [7, 14, 21, 28]],
                   columns = cols, index = idx)

#correlation : 
corr = df.corr()
corr

          A         B         C         D
A  1.000000  0.795520 -0.519566 -0.654733
B  0.795520  1.000000 -0.764484 -0.063854
C -0.519566 -0.764484  1.000000 -0.065622
D -0.654733 -0.063854 -0.065622  1.000000

In [4]:
#pour colorier le dataframe : 
corr.style.background_gradient(cmap='coolwarm')

  index   A   B   C   D
0     1  10  20  30  40
1     2  50  30   8  15
2     3  25  14  41   8
3     4   7  14  21  28