- Supprimez les lignes en double du DataFrame.
- Afficher la taille des Dataframes avant et après

In [13]:
import pandas as pd 

duplicate_df = pd.read_csv('GlobalLandTemperaturesByMajorCity.csv')
duplicate_df.shape

(239177, 7)

In [14]:
duplicate_df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W

In [15]:
duplicate_df = duplicate_df.drop_duplicates()
duplicate_df.shape

(239177, 7)

In [16]:
duplicate_df['AverageTemperature'].min()

-26.772

In [17]:
duplicate_df['AverageTemperature'] = duplicate_df['AverageTemperature'].abs()

In [18]:
duplicate_df['AverageTemperature'].min()

0.0