Voici un façon de créer une DataFrame à partir d'un dictionnaire python:

In [95]:
import pandas as pd 

df = pd.DataFrame({
    "colonne a": [1, 2, 3],
    "colonne b": [6, 7, 8],
    "colonne c": [0, 0, 1]
})
df

   colonne a  colonne b  colonne c
0          1          6          0
1          2          7          0
2          3          8          1

Tester cet objet, accéder au colonne. Itérer l'objet. Afficher le. Récupérer le tableau numpy. Rajouter une nouvelle colonne. Renommer toues le colonne mettant les initial en majuscule (str.title?)

type par colonne

In [96]:
df.dtypes

colonne a    int64
colonne b    int64
colonne c    int64
dtype: object

colonnes

In [97]:
df.columns

Index(['colonne a', 'colonne b', 'colonne c'], dtype='object')

to numpy array

In [98]:
arr = df.to_numpy()
arr

array([[1, 6, 0],
       [2, 7, 0],
       [3, 8, 1]], dtype=int64)

In [99]:
df.describe()

       colonne a  colonne b  colonne c
count        3.0        3.0   3.000000
mean         2.0        7.0   0.333333
std          1.0        1.0   0.577350
min          1.0        6.0   0.000000
25%          1.5        6.5   0.000000
50%          2.0        7.0   0.000000
75%          2.5        7.5   0.500000
max          3.0        8.0   1.000000

Accéder aux colonnes individuels

In [100]:
df["colonne a"]

0    1
1    2
2    3
Name: colonne a, dtype: int64

Slice

In [101]:
df[0:2]

   colonne a  colonne b  colonne c
0          1          6          0
1          2          7          0

index

In [102]:
df.index.array

<PandasArray>
[0, 1, 2]
Length: 3, dtype: int64

loc?

In [103]:
df.loc[0]

colonne a    1
colonne b    6
colonne c    0
Name: 0, dtype: int64

location par position : iloc

In [104]:
# colonne a , ligne 0 = 1
df.iloc[0,0]

1

itteration sur le df

In [105]:
for names, values in df.items():
    print(f' {names=}   {values=}')

 names='colonne a'   values=0    1
1    2
2    3
Name: colonne a, dtype: int64
 names='colonne b'   values=0    6
1    7
2    8
Name: colonne b, dtype: int64
 names='colonne c'   values=0    0
1    0
2    1
Name: colonne c, dtype: int64

Ajouter une colonne

In [106]:
df.loc[:,"colonne D"] = [4,4,4]
df

   colonne a  colonne b  colonne c  colonne D
0          1          6          0          4
1          2          7          0          4
2          3          8          1          4

In [107]:
#avec insert au milieu 
df.insert(1, 'colonne E', [5,5,5])
df

   colonne a  colonne E  colonne b  colonne c  colonne D
0          1          5          6          0          4
1          2          5          7          0          4
2          3          5          8          1          4

modifier le titre des colonnes

In [108]:
# method str
nouveau_titre = df.columns.str.title()
nouveau_titre

Index(['Colonne A', 'Colonne E', 'Colonne B', 'Colonne C', 'Colonne D'], dtype='object')

In [114]:
df.columns = nouveau_titre

In [115]:
df

   Colonne A  Colonne E  Colonne B  Colonne C  Colonne D
0          1          5          6          0          4
1          2          5          7          0          4
2          3          5          8          1          4